html {
    font-size: 16px;
}

body {
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
}



.container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

h1,
h2,
h3,
h4 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}
h1 {
	font-size: 30px;
}
h2 {
    font-size: 24px;
}
h3 {
	font-size: 18px;
}
h4 {
	font-size: 12px;
}

p {
	font-size: 14px;
	line-height: 21px;
    padding: 0 30px;
}

/*The widths are in a percentage!*/
header {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	width: 100%;
}

header h1 {
	margin: 0;
	padding: 18px 0;
	width: 100%
}
header h1 span {
	color: #77a466;
}

header nav {
    padding: 46px 0;
    width: 100%;
    border-bottom: 3px solid #77a466;
}
header nav ul {
	margin: 0;
	padding: 0;
}
header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 14px;
	padding: 10px 10px;
	list-style: none;
}
header nav ul li a{
	text-decoration: none;
	color:#77a466;
}

/*The widths are in a percentage!*/
.top-section,
.bottom-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.main-image img {
	width: 100%;
	border-bottom: 3px solid #77a466;
}

.main-title {
	height: auto;
}
.main-title h3 {
	text-align: left;
	padding: 5px 0;
	color: #77a466;
}
.main-title p {
	padding: 0;
	font-size: 16px;
	line-height: 25px;
}

.section-one,
.section-two,
.section-three {
	width: 100%;
	height: auto;
    border-top: 1px solid #eee;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
}

.section-one h4 {
	padding: 10px 0;
}

.section-one h4,
.section-two h4,
.section-three h4 {
	padding: 10px 30px;
}

.menu {
	list-style: none;
	padding: 0;
}
.menu li {
	padding: 10px 30px;
	color:#77a466;
}

.reviews {
	color: #333;
	font-size: 16px;
	line-height: 21px;
}

.address {
	font-size: 16px;
	line-height: 24px;
}

/*The widths are in a percentage!*/
footer {
	border-top: 3px solid #eee;
	margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer span {
	font-family: 'Galada', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: 14px;
}


/* Responsive sizes */

@media all and (min-width:768px) {
	/* TABLET */
	h3 {
		font-size: 1.3em;
	}
	h4 {
		font-size: 0.9em;
		line-height: 2em;
	}

	header nav ul li {
		font-size: 1em;
		line-height: 2.5em;
	}

.bottom-section {
	justify-content: space-between;
    align-items: flex-start;
    flex-flow: row nowrap;
}

	.section-one,
	.section-two,
	.section-three {
		width: 33%;
        padding: 0 10px;
	}

	.section-two {
        border-right: 1px solid #eee;
        border-left: 1px solid #eee;
        padding: 0px 20px 10px 20px;
    }

	.main-title p {
		font-size: 1.05em;
    }

    footer {
        flex-grow: 1;
    }

}

@media all and (min-width:1200px) {
	/* DESKTOP */

	header {
        justify-content: space-between;
        margin: 0;
        padding: 0;
        width: 90%;
        flex-flow: row nowrap;
	}

	header h1 {
		border: none;
		text-align: left;
	}

	header nav ul {
		display: flex;
		justify-content: space-between;
	}

}

}